{% extends 'main/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h5>Логин</h5>
        <input type="text" name="username" placeholder="Введите логин" class="form-control"><br>
        <h5>Пароль</h5>
        <input type="password" name="password" placeholder="Введите пароль" class="form-control"><br>

        <button type="submit" class="btn btn-primary">Войти</button><br>

        <h6>{{ message }}</h6>

        Нет аккаунта? <a href="{% url 'register' %}" class="ml-2">Зарегистрироваться</a><br>
        Забыли пароль? <a href="{% url 'reset_password' %}" class="ml-2">Сбросить пароль</a>
    </form>
{% endblock %}