{% extends 'main/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h5>Логин</h5>
        {{form.username}}<br>
        <h5>Адрес электронной почты</h5>
        {{form.email}}<br>
        <h5>Пароль</h5>
        <input type="password" name="password1" placeholder="Введите пароль" class="form-control"><br>
        <h5>Повторение пароля</h5>
        <input type="password" name="password2" placeholder="Введите пароль" class="form-control"><br>

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button><br>

        <h6>{{form.errors}}</h6>

        Уже есть аккаунт? <a href="{% url 'login' %}" class="ml-2">Войти</a>
    </form>
{% endblock %}