{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Восстановление пароля</h1>
    <h6>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</h6><br>
    <form method="post">
        {% csrf_token %}
        <h5>Адрес электронной почты</h5>

        <input type="email" name="email" placeholder="Введите адрес электронной почты" class="form-control"><br>

        <button type="submit" class="btn btn-primary">Отправить</button><br>

        Помните пароль? <a href="{% url 'login' %}" class="ml-2">Войти</a><br>
        Нет аккаунта? <a href="{% url 'register' %}" class="ml-2">Зарегистрироваться</a><br>
    </form>
{% endblock %}